@import "https://dreamui-demo.netlify.app/dreamui-v1.css";
@import "./components/Home/Home.css";

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-container {
  padding-bottom: 10rem;
}
