@import "https://dreamui-demo.netlify.app/dreamui-v1.css";
@import "./components/Home/Home.css";
@import "./components/products/Products.css";
@import "./components/Cart/cart.css";
@import "./components//wishlist/wishlist.css";
@import "./components//Login/Login.css";

:root {
  --orange-color: #ffad00;
}

.orange-bg {
  background-color: var(--orange-color);
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.login-button.btn-size {
  width: 8rem;
}
